youtube code practice : freecodecamp

# 1. Read a table from a webpage

In [1]:
import pandas as pd

In [12]:
simpsons = pd.read_html('https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1%E2%80%9320)')

In [13]:
len(simpsons)

23

In [24]:
simpsons[1].head()

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions)
0,1,1,"""Simpsons Roasting on an Open Fire""",David Silverman,Mimi Pond,"December 17, 1989",7G08,26.7[45]
1,2,2,"""Bart the Genius""",David Silverman,Jon Vitti,"January 14, 1990",7G02,24.5[45]
2,3,3,"""Homer's Odyssey""",Wesley Archer,Jay Kogen & Wallace Wolodarsky,"January 21, 1990",7G03,27.5[46]
3,4,4,"""There's No Disgrace Like Home""",Gregg Vanzo & Kent Butterworth,Al Jean & Mike Reiss,"January 28, 1990",7G04,20.2[47]
4,5,5,"""Bart the General""",David Silverman,John Swartzwelder,"February 4, 1990",7G05,27.1[48]

# 2. Read a csv from a URL with Pandas

Goint to the wesbite, right clicking on the csv file and clicking on copy link address and past below

In [19]:
df_premier21 = pd.read_csv('https://football-data.co.uk/mmz4281/2122/E0.csv')

In [25]:
df_premier21.head()

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86

In [21]:
df_premier21.rename(columns = {'FTHG': 'home_goals', 'FTAG': 'away_goals'}, inplace = True)

In [26]:
df_premier21.head()

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86

----
# 3. Read a table from a pdf and write it in a csv
----
pip install tk

pip install ghostscript

pip install camelot-py
<!--  -->
(install in the same order)

In [29]:
# import camelot
# tables = camelot.read_pdf('foo.pdf', pagess = '1')
# print(tables)
# tables.export('foo.csv', f='csv', compress = True)
# tables[0].to_csv('foo.csv')

# 4. Automating with Selenium

In [15]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

website = 'https://URL of the website'
path = r'C:\Users\Downloads\chromedriver'

service = Service(executable_path = path)
driver = webdriver.Chrome(service = service)

driver.get(website)

username = driver.find_element(By.ID, "name")
password = driver.find_element(By.ID, "password")

username.send_keys("YourUserName")
password.send_keys("Password")

driver.find_element(By.NAME, "submit").click()

# 5. Making the pivot table from a xlsx file and exporting it to another one

In [ ]:
import pandas as pd

df = pd.read_excel('filename.xlsx')
df = df[['Gender', 'Product', 'Total']]

pivot_table = df.pivot_table(index = 'Gender', columns = 'Product', values = 'Total', aggfunc = 'sum').round(0)

pivot_table.to_excel('pivot_table.xlsx', 'Report_name', startrows = 4)

# 6. Automating Whatsapp Messages

pip install pywhatkit

In [21]:
import pywhatkit

pywhatkit.sendwhatmsg('+%$-#$%#$%#$%^', 'Test', 18, 58, 15, True, 2)

pytwhatkit.sendwhatmsg_to_group('group_id', "Test Mesage", 18, 59)

In 20 Seconds WhatsApp will open and after 15 Seconds Message will be Delivered!